<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TapToContinue1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,876},{828,88}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,337},{828,88}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>TapToContinue2.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,778},{828,88}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,337},{828,88}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>TapToContinue3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,778},{828,88}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,337},{828,88}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>backbutton2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1627,0},{125,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,68}}</string>
                <key>sourceSize</key>
                <string>{125,68}</string>
            </dict>
            <key>buyFullBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,0},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,768}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>buyNowButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{583,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{583,189}}</string>
                <key>sourceSize</key>
                <string>{583,189}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BuyFullVersion.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e4b5c76cc02d5ab7bb0a02e66ef9a12$</string>
            <key>textureFileName</key>
            <string>BuyFullVersion.png</string>
        </dict>
    </dict>
</plist>
