<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LevelPack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{181,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,173}}</string>
                <key>sourceSize</key>
                <string>{181,173}</string>
            </dict>
            <key>LevelPack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,0},{181,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,173}}</string>
                <key>sourceSize</key>
                <string>{181,173}</string>
            </dict>
            <key>LevelPack3.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,0},{181,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,173}}</string>
                <key>sourceSize</key>
                <string>{181,173}</string>
            </dict>
            <key>LevelPack4.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,0},{181,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,173}}</string>
                <key>sourceSize</key>
                <string>{181,173}</string>
            </dict>
            <key>LevelPack5.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,0},{181,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,173}}</string>
                <key>sourceSize</key>
                <string>{181,173}</string>
            </dict>
            <key>TapToContinue1.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,0},{828,88}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,337},{828,88}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>TapToContinue2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,183},{828,88}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,337},{828,88}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>TapToContinue3.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,183},{828,88}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,337},{828,88}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>backbutton2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,183},{125,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,68}}</string>
                <key>sourceSize</key>
                <string>{125,68}</string>
            </dict>
            <key>careerStatsBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,281},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,768}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>nineLivesButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,281},{181,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,173}}</string>
                <key>sourceSize</key>
                <string>{181,173}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CareerStats.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03746a51810aab12fb26354e419d638d$</string>
            <key>textureFileName</key>
            <string>CareerStats.png</string>
        </dict>
    </dict>
</plist>
