<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cat.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{37,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,21}}</string>
                <key>sourceSize</key>
                <string>{37,21}</string>
            </dict>
            <key>catNineLivesFace.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,260},{193,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,163}}</string>
                <key>sourceSize</key>
                <string>{193,163}</string>
            </dict>
            <key>forcefieldLBlue.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,72},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>forcefieldLGreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,72},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>forcefieldOrange.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,72},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>forcefieldPurple.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,72},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>forcefieldRed.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,72},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>forcefieldYellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,72},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>go.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,260},{381,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{381,200}}</string>
                <key>sourceSize</key>
                <string>{381,200}</string>
            </dict>
            <key>goalFuel.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,260},{66,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,103}}</string>
                <key>sourceSize</key>
                <string>{66,103}</string>
            </dict>
            <key>goalGears.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,154},{101,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,79}}</string>
                <key>sourceSize</key>
                <string>{101,79}</string>
            </dict>
            <key>goalHammer.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,154},{188,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,89}}</string>
                <key>sourceSize</key>
                <string>{188,89}</string>
            </dict>
            <key>goalLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,0},{169,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,36}}</string>
                <key>sourceSize</key>
                <string>{169,36}</string>
            </dict>
            <key>goalNeedlenose.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,0},{214,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,62}}</string>
                <key>sourceSize</key>
                <string>{214,62}</string>
            </dict>
            <key>goalPliers.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,72},{188,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,62}}</string>
                <key>sourceSize</key>
                <string>{188,62}</string>
            </dict>
            <key>goalSaw.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,0},{179,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,55}}</string>
                <key>sourceSize</key>
                <string>{179,55}</string>
            </dict>
            <key>goalScrew.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,0},{69,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,29}}</string>
                <key>sourceSize</key>
                <string>{69,29}</string>
            </dict>
            <key>goalScrewdriver.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,0},{220,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,39}}</string>
                <key>sourceSize</key>
                <string>{220,39}</string>
            </dict>
            <key>goalWrench.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,72},{199,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,68}}</string>
                <key>sourceSize</key>
                <string>{199,68}</string>
            </dict>
            <key>nineLivesEight.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,154},{75,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,95}}</string>
                <key>sourceSize</key>
                <string>{75,95}</string>
            </dict>
            <key>nineLivesFive.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,154},{69,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,93}}</string>
                <key>sourceSize</key>
                <string>{69,93}</string>
            </dict>
            <key>nineLivesFour.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,260},{72,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,97}}</string>
                <key>sourceSize</key>
                <string>{72,97}</string>
            </dict>
            <key>nineLivesNine.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,154},{70,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,93}}</string>
                <key>sourceSize</key>
                <string>{70,93}</string>
            </dict>
            <key>nineLivesOne.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,154},{38,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,90}}</string>
                <key>sourceSize</key>
                <string>{38,90}</string>
            </dict>
            <key>nineLivesSeven.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,154},{68,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,90}}</string>
                <key>sourceSize</key>
                <string>{68,90}</string>
            </dict>
            <key>nineLivesSix.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,154},{73,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,94}}</string>
                <key>sourceSize</key>
                <string>{73,94}</string>
            </dict>
            <key>nineLivesThree.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,154},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,96}}</string>
                <key>sourceSize</key>
                <string>{71,96}</string>
            </dict>
            <key>nineLivesTwo.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,154},{68,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,94}}</string>
                <key>sourceSize</key>
                <string>{68,94}</string>
            </dict>
            <key>nineLivesX.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,154},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>pauseIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,72},{65,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,72}}</string>
                <key>sourceSize</key>
                <string>{65,72}</string>
            </dict>
            <key>ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,700},{944,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{944,252}}</string>
                <key>sourceSize</key>
                <string>{944,252}</string>
            </dict>
            <key>timesThreeMultiplier.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,480},{208,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,210}}</string>
                <key>sourceSize</key>
                <string>{208,210}</string>
            </dict>
            <key>timesTwoMultiplier.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,260},{208,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,210}}</string>
                <key>sourceSize</key>
                <string>{208,210}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameSprites.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d6440d64f46fc954bf0a3cf11999a9e$</string>
            <key>textureFileName</key>
            <string>GameSprites.png</string>
        </dict>
    </dict>
</plist>
