<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>levelFourBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,780},{1025,770}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1025,770}}</string>
                <key>sourceSize</key>
                <string>{1025,770}</string>
            </dict>
            <key>levelFourBlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,0},{97,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,74}}</string>
                <key>sourceSize</key>
                <string>{97,74}</string>
            </dict>
            <key>levelFourBottomOuter.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1560},{1025,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1025,85}}</string>
                <key>sourceSize</key>
                <string>{1025,85}</string>
            </dict>
            <key>levelFourLeftMid.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,0},{307,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,204}}</string>
                <key>sourceSize</key>
                <string>{307,204}</string>
            </dict>
            <key>levelFourLeftOuter.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,0},{96,585}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,585}}</string>
                <key>sourceSize</key>
                <string>{96,585}</string>
            </dict>
            <key>levelFourMovable.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,780},{935,602}}</string>
                <key>offset</key>
                <string>{-40,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,87},{935,602}}</string>
                <key>sourceSize</key>
                <string>{1025,770}</string>
            </dict>
            <key>levelFourRightMid.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,0},{324,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,318}}</string>
                <key>sourceSize</key>
                <string>{324,318}</string>
            </dict>
            <key>levelFourRightOuter.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{88,770}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,770}}</string>
                <key>sourceSize</key>
                <string>{88,770}</string>
            </dict>
            <key>levelFourTopMid.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,0},{748,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{748,95}}</string>
                <key>sourceSize</key>
                <string>{748,95}</string>
            </dict>
            <key>levelFourTopOuter.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1655},{1025,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1025,91}}</string>
                <key>sourceSize</key>
                <string>{1025,91}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LevelFourPlist.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb78e2e00525c0deb8f6207501e90064$</string>
            <key>textureFileName</key>
            <string>LevelFourPlist.png</string>
        </dict>
    </dict>
</plist>
