<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>levelTwentyBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1025,770}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1025,770}}</string>
                <key>sourceSize</key>
                <string>{1025,770}</string>
            </dict>
            <key>levelTwentyBottombar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1035,0},{989,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{989,103}}</string>
                <key>sourceSize</key>
                <string>{989,103}</string>
            </dict>
            <key>levelTwentyMiddlebar.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,780},{991,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{991,91}}</string>
                <key>sourceSize</key>
                <string>{991,91}</string>
            </dict>
            <key>levelTwentyOutline.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,780},{1025,770}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1025,770}}</string>
                <key>sourceSize</key>
                <string>{1025,770}</string>
            </dict>
            <key>levelTwentyTopbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1560},{532,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{532,66}}</string>
                <key>sourceSize</key>
                <string>{532,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LevelTwentyPlist.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3cbe10f0c07d8b51f264ea62908b3b8c$</string>
            <key>textureFileName</key>
            <string>LevelTwentyPlist.png</string>
        </dict>
    </dict>
</plist>
