<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>levelFourtytwoBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,768}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>levelFourtytwoBottombar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,0},{595,755}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{595,755}}</string>
                <key>sourceSize</key>
                <string>{595,755}</string>
            </dict>
            <key>levelFourtytwoOutline.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,778},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,768}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>levelFourtytwoTopbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,778},{595,755}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{595,755}}</string>
                <key>sourceSize</key>
                <string>{595,755}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LevelFourtytwoPlist.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd7f9c04711e75493922ee4aca41b082$</string>
            <key>textureFileName</key>
            <string>LevelFourtytwoPlist.png</string>
        </dict>
    </dict>
</plist>
