<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>levelThirtyBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1025,770}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1025,770}}</string>
                <key>sourceSize</key>
                <string>{1025,770}</string>
            </dict>
            <key>levelThirtyBoundary.png</key>
            <dict>
                <key>frame</key>
                <string>{{1033,0},{900,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{900,95}}</string>
                <key>sourceSize</key>
                <string>{900,95}</string>
            </dict>
            <key>levelThirtyCircle.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,778},{271,279}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,279}}</string>
                <key>sourceSize</key>
                <string>{271,279}</string>
            </dict>
            <key>levelThirtyOutline.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,778},{1025,770}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1025,770}}</string>
                <key>sourceSize</key>
                <string>{1025,770}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LevelThirtyPlist.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a875fc2a916a8bfb0fc085c5369297c3$</string>
            <key>textureFileName</key>
            <string>LevelThirtyPlist.png</string>
        </dict>
    </dict>
</plist>
