<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>levelTwoEight.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{404,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,303}}</string>
                <key>sourceSize</key>
                <string>{404,303}</string>
            </dict>
            <key>levelTwoFive.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,0},{404,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,303}}</string>
                <key>sourceSize</key>
                <string>{404,303}</string>
            </dict>
            <key>levelTwoFour.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,313},{404,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,303}}</string>
                <key>sourceSize</key>
                <string>{404,303}</string>
            </dict>
            <key>levelTwoOne.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,313},{404,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,303}}</string>
                <key>sourceSize</key>
                <string>{404,303}</string>
            </dict>
            <key>levelTwoSeven.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,626},{404,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,303}}</string>
                <key>sourceSize</key>
                <string>{404,303}</string>
            </dict>
            <key>levelTwoSix.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,626},{404,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,303}}</string>
                <key>sourceSize</key>
                <string>{404,303}</string>
            </dict>
            <key>levelTwoThree.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,939},{404,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,303}}</string>
                <key>sourceSize</key>
                <string>{404,303}</string>
            </dict>
            <key>levelTwoTwo.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,939},{404,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,303}}</string>
                <key>sourceSize</key>
                <string>{404,303}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LevelPackTwo.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:453002f4b4c32e0dd37f6aeb75be4a78$</string>
            <key>textureFileName</key>
            <string>LevelPackTwo.png</string>
        </dict>
    </dict>
</plist>
