<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>levelOneBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,776},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,768}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>levelOneBottomBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1966},{1024,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,62}}</string>
                <key>sourceSize</key>
                <string>{1024,62}</string>
            </dict>
            <key>levelOneInsideBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1552},{820,406}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{820,406}}</string>
                <key>sourceSize</key>
                <string>{820,406}</string>
            </dict>
            <key>levelOneInsidehoriz.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2036},{828,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{828,4}}</string>
                <key>sourceSize</key>
                <string>{828,4}</string>
            </dict>
            <key>levelOneInsidevert.png</key>
            <dict>
                <key>frame</key>
                <string>{{2008,776},{5,412}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,412}}</string>
                <key>sourceSize</key>
                <string>{5,412}</string>
            </dict>
            <key>levelOneMoveable.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,776},{956,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{956,640}}</string>
                <key>sourceSize</key>
                <string>{956,640}</string>
            </dict>
            <key>levelOneOutline.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,0},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,768}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>levelOneOutsidehoriz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,1966},{956,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{956,4}}</string>
                <key>sourceSize</key>
                <string>{956,4}</string>
            </dict>
            <key>levelOneOutsidevert.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,776},{4,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,640}}</string>
                <key>sourceSize</key>
                <string>{4,640}</string>
            </dict>
            <key>levelOneRightBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{71,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,768}}</string>
                <key>sourceSize</key>
                <string>{71,768}</string>
            </dict>
            <key>levelOneTopBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,1552},{1024,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,64}}</string>
                <key>sourceSize</key>
                <string>{1024,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LevelOnePlist.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b2e65aacad7e5e30ff3b0834f7d92b6$</string>
            <key>textureFileName</key>
            <string>LevelOnePlist.png</string>
        </dict>
    </dict>
</plist>
