<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>levelTwentyoneBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1025,770}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1025,770}}</string>
                <key>sourceSize</key>
                <string>{1025,770}</string>
            </dict>
            <key>levelTwentyoneBigBarLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{1035,0},{896,363}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{896,363}}</string>
                <key>sourceSize</key>
                <string>{896,363}</string>
            </dict>
            <key>levelTwentyoneBigBarRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,780},{896,363}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{896,363}}</string>
                <key>sourceSize</key>
                <string>{896,363}</string>
            </dict>
            <key>levelTwentyoneLeftBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,780},{873,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{873,204}}</string>
                <key>sourceSize</key>
                <string>{873,204}</string>
            </dict>
            <key>levelTwentyoneOutline.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1153},{1025,770}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1025,770}}</string>
                <key>sourceSize</key>
                <string>{1025,770}</string>
            </dict>
            <key>levelTwentyoneRightBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1035,1153},{873,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{873,204}}</string>
                <key>sourceSize</key>
                <string>{873,204}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LevelTwentyonePlist.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb6babd5537b3382535122dfa64c07ca$</string>
            <key>textureFileName</key>
            <string>LevelTwentyonePlist.png</string>
        </dict>
    </dict>
</plist>
