<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>levelThirtyeightBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,768}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>levelThirtyeightBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,0},{106,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,86}}</string>
                <key>sourceSize</key>
                <string>{106,86}</string>
            </dict>
            <key>levelThirtyeightMoveable.png</key>
            <dict>
                <key>frame</key>
                <string>{{1150,0},{802,701}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{802,701}}</string>
                <key>sourceSize</key>
                <string>{802,701}</string>
            </dict>
            <key>levelThirtyeightOutline.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,778},{817,707}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{817,707}}</string>
                <key>sourceSize</key>
                <string>{817,707}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LevelThirtyeightPlist.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3fb1772d54fc885918abca62a3c5f74d$</string>
            <key>textureFileName</key>
            <string>LevelThirtyeightPlist.png</string>
        </dict>
    </dict>
</plist>
