<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>levelEightBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,897},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,768}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>levelEightBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,0},{133,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,109}}</string>
                <key>sourceSize</key>
                <string>{133,109}</string>
            </dict>
            <key>levelEightOutline.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,119},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,768}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>levelEightOutlineHoriz.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1024,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,3}}</string>
                <key>sourceSize</key>
                <string>{1024,3}</string>
            </dict>
            <key>levelEightOutlineLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{1117,119},{73,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,768}}</string>
                <key>sourceSize</key>
                <string>{73,768}</string>
            </dict>
            <key>levelEightOutlineRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,119},{73,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,768}}</string>
                <key>sourceSize</key>
                <string>{73,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LevelEightPlist.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:950e9223970fd9688d6234c96aa81bd9$</string>
            <key>textureFileName</key>
            <string>LevelEightPlist.png</string>
        </dict>
    </dict>
</plist>
