<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>levelFourtynineBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,768}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>levelFourtynineBottombar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,0},{320,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,65}}</string>
                <key>sourceSize</key>
                <string>{320,65}</string>
            </dict>
            <key>levelFourtynineOutline.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,778},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,768}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>levelFourtynineTopbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,778},{385,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{385,65}}</string>
                <key>sourceSize</key>
                <string>{385,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LevelFourtyninePlist.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:158e79001f15246795b48b43cb7a726e$</string>
            <key>textureFileName</key>
            <string>LevelFourtyninePlist.png</string>
        </dict>
    </dict>
</plist>
