<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>levelFourtysixBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,768}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>levelFourtysixMovable.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,0},{971,710}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{971,710}}</string>
                <key>sourceSize</key>
                <string>{971,710}</string>
            </dict>
            <key>levelFourtysixOutline.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,776},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,768}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>levelFourtysixWindmill.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,776},{598,598}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{598,598}}</string>
                <key>sourceSize</key>
                <string>{598,598}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LevelFourtysixPlist.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:94415fe03e0861b392344110135eb9c0$</string>
            <key>textureFileName</key>
            <string>LevelFourtysixPlist.png</string>
        </dict>
    </dict>
</plist>
