<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>levelFortythreeBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,768}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>levelFortythreeBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,0},{72,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,60}}</string>
                <key>sourceSize</key>
                <string>{72,60}</string>
            </dict>
            <key>levelFortythreeElevator.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,0},{160,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,150}}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>levelFortythreeExtraLayer.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,0},{295,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,189}}</string>
                <key>sourceSize</key>
                <string>{295,189}</string>
            </dict>
            <key>levelFortythreeOutline.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,778},{953,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{953,768}}</string>
                <key>sourceSize</key>
                <string>{953,768}</string>
            </dict>
            <key>levelFortythreeWheel.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,778},{116,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,143}}</string>
                <key>sourceSize</key>
                <string>{116,143}</string>
            </dict>
            <key>levelFortythreeWindmill.png</key>
            <dict>
                <key>frame</key>
                <string>{{1089,778},{238,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,237}}</string>
                <key>sourceSize</key>
                <string>{238,237}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LevelFortythreePlist.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9b1f30b732aee1f910360cfad72271a$</string>
            <key>textureFileName</key>
            <string>LevelFortythreePlist.png</string>
        </dict>
    </dict>
</plist>
