<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>levelFiftyBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,768}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>levelFiftyOutline.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,778},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,768}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>levelFiftyWheelBottomleft.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,778},{350,354}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,354}}</string>
                <key>sourceSize</key>
                <string>{350,354}</string>
            </dict>
            <key>levelFiftyWheelBottomright.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,778},{354,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,348}}</string>
                <key>sourceSize</key>
                <string>{354,348}</string>
            </dict>
            <key>levelFiftyWheelTopleft.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1556},{351,349}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{351,349}}</string>
                <key>sourceSize</key>
                <string>{351,349}</string>
            </dict>
            <key>levelFiftyWheelTopright.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,1556},{350,351}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,351}}</string>
                <key>sourceSize</key>
                <string>{350,351}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LevelFiftyPlist.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe9f2b9394e65ab58e7a530e5e3f0cb5$</string>
            <key>textureFileName</key>
            <string>LevelFiftyPlist.png</string>
        </dict>
    </dict>
</plist>
