<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LevelTwelveWheelFive.png</key>
            <dict>
                <key>frame</key>
                <string>{{1747,0},{246,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,249}}</string>
                <key>sourceSize</key>
                <string>{246,249}</string>
            </dict>
            <key>LevelTwelveWheelFour.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,257},{251,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,250}}</string>
                <key>sourceSize</key>
                <string>{251,250}</string>
            </dict>
            <key>LevelTwelveWheelThree.png</key>
            <dict>
                <key>frame</key>
                <string>{{1493,0},{246,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,249}}</string>
                <key>sourceSize</key>
                <string>{246,249}</string>
            </dict>
            <key>levelTwelveLeftRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,257},{69,557}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,557}}</string>
                <key>sourceSize</key>
                <string>{69,557}</string>
            </dict>
            <key>levelTwelveMovable.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,257},{987,762}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{987,762}}</string>
                <key>sourceSize</key>
                <string>{1025,770}</string>
            </dict>
            <key>levelTwelveOutline.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1035},{1025,770}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1025,770}}</string>
                <key>sourceSize</key>
                <string>{1025,770}</string>
            </dict>
            <key>levelTwelveOutlineBottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1025,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1025,4}}</string>
                <key>sourceSize</key>
                <string>{1025,4}</string>
            </dict>
            <key>levelTwelveOutlineBottomRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1263,0},{222,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,59}}</string>
                <key>sourceSize</key>
                <string>{222,59}</string>
            </dict>
            <key>levelTwelveOutlineLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{1886,257},{5,770}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,770}}</string>
                <key>sourceSize</key>
                <string>{5,770}</string>
            </dict>
            <key>levelTwelveOutlineRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1886,257},{5,770}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,770}}</string>
                <key>sourceSize</key>
                <string>{5,770}</string>
            </dict>
            <key>levelTwelveOutlineRightmost.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,257},{37,676}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,676}}</string>
                <key>sourceSize</key>
                <string>{37,676}</string>
            </dict>
            <key>levelTwelveOutlineTop.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1025,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1025,4}}</string>
                <key>sourceSize</key>
                <string>{1025,4}</string>
            </dict>
            <key>levelTwelveOutlineTopRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1033,0},{222,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,49}}</string>
                <key>sourceSize</key>
                <string>{222,49}</string>
            </dict>
            <key>levelTwelveWheelOne.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,257},{248,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,251}}</string>
                <key>sourceSize</key>
                <string>{248,251}</string>
            </dict>
            <key>levelTwelveWheelTwo.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,257},{246,251}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{246,251}}</string>
                <key>sourceSize</key>
                <string>{248,251}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LevelTwelvePlist.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87c70efcddbd6ae206d2508b59cd1e79$</string>
            <key>textureFileName</key>
            <string>LevelTwelvePlist.png</string>
        </dict>
    </dict>
</plist>
