<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>levelFourteenBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1025,770}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1025,770}}</string>
                <key>sourceSize</key>
                <string>{1025,770}</string>
            </dict>
            <key>levelFourteenOutline.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,780},{1025,770}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1025,770}}</string>
                <key>sourceSize</key>
                <string>{1025,770}</string>
            </dict>
            <key>levelFourteenWindmillLarge.png</key>
            <dict>
                <key>frame</key>
                <string>{{1035,780},{271,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,272}}</string>
                <key>sourceSize</key>
                <string>{271,272}</string>
            </dict>
            <key>levelFourteenWindmillMed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1316,780},{195,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,196}}</string>
                <key>sourceSize</key>
                <string>{195,196}</string>
            </dict>
            <key>levelFourteenWindmillSmall.png</key>
            <dict>
                <key>frame</key>
                <string>{{1521,780},{126,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,127}}</string>
                <key>sourceSize</key>
                <string>{126,127}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LevelFourteenPlist.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:011ba9d842b35a504c092d293d3f7d91$</string>
            <key>textureFileName</key>
            <string>LevelFourteenPlist.png</string>
        </dict>
    </dict>
</plist>
