<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>levelTwoBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,771},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,768}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>levelTwoBottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1824},{960,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,6}}</string>
                <key>sourceSize</key>
                <string>{960,6}</string>
            </dict>
            <key>levelTwoInner.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1542},{277,279}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,279}}</string>
                <key>sourceSize</key>
                <string>{277,279}</string>
            </dict>
            <key>levelTwoLower.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1542},{584,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{584,153}}</string>
                <key>sourceSize</key>
                <string>{584,153}</string>
            </dict>
            <key>levelTwoMiddle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,771},{520,520}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,520}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>levelTwoOuter.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,768}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>levelTwoOuterMove.png</key>
            <dict>
                <key>frame</key>
                <string>{{1683,771},{126,430}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,430}}</string>
                <key>sourceSize</key>
                <string>{126,430}</string>
            </dict>
            <key>levelTwoRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1037,771},{120,544}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,544}}</string>
                <key>sourceSize</key>
                <string>{120,544}</string>
            </dict>
            <key>levelTwoTop.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,1824},{961,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{961,5}}</string>
                <key>sourceSize</key>
                <string>{961,5}</string>
            </dict>
            <key>levelTwoUpper.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,1542},{644,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{644,119}}</string>
                <key>sourceSize</key>
                <string>{644,119}</string>
            </dict>
            <key>levelTwoVert.png</key>
            <dict>
                <key>frame</key>
                <string>{{1027,771},{7,703}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,703}}</string>
                <key>sourceSize</key>
                <string>{7,703}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LevelTwoPlist.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:423b733160e15b19fbb2d35c0a2cdb6e$</string>
            <key>textureFileName</key>
            <string>LevelTwoPlist.png</string>
        </dict>
    </dict>
</plist>
