<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>levelFortyoneBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,768}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>levelFortyoneOutline.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,774},{1024,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,640}}</string>
                <key>sourceSize</key>
                <string>{1024,640}</string>
            </dict>
            <key>levelFortyoneWheelFour.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,774},{248,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,251}}</string>
                <key>sourceSize</key>
                <string>{248,251}</string>
            </dict>
            <key>levelFortyoneWheelOne.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,774},{248,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,251}}</string>
                <key>sourceSize</key>
                <string>{248,251}</string>
            </dict>
            <key>levelFortyoneWheelThree.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,774},{248,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,251}}</string>
                <key>sourceSize</key>
                <string>{248,251}</string>
            </dict>
            <key>levelFortyoneWheelTwo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,774},{246,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,249}}</string>
                <key>sourceSize</key>
                <string>{246,249}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LevelFortyonePlist.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9fb326f56407298dcefd4869413eb75c$</string>
            <key>textureFileName</key>
            <string>LevelFortyonePlist.png</string>
        </dict>
    </dict>
</plist>
