<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>levelTwentytwoBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1025,770}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1025,770}}</string>
                <key>sourceSize</key>
                <string>{1025,770}</string>
            </dict>
            <key>levelTwentytwoBottombar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,0},{887,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{887,114}}</string>
                <key>sourceSize</key>
                <string>{887,114}</string>
            </dict>
            <key>levelTwentytwoOutline.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,777},{1025,770}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1025,770}}</string>
                <key>sourceSize</key>
                <string>{1025,770}</string>
            </dict>
            <key>levelTwentytwoTopbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,777},{873,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{873,114}}</string>
                <key>sourceSize</key>
                <string>{873,114}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LevelTwentytwoPlist.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ca7b99f8520ffb3826a2bef84d092b6$</string>
            <key>textureFileName</key>
            <string>LevelTwentytwoPlist.png</string>
        </dict>
    </dict>
</plist>
