<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CareerButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{308,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,67}}</string>
                <key>sourceSize</key>
                <string>{308,67}</string>
            </dict>
            <key>CareerButtonSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,0},{308,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,67}}</string>
                <key>sourceSize</key>
                <string>{308,67}</string>
            </dict>
            <key>HighScoresButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,0},{308,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,67}}</string>
                <key>sourceSize</key>
                <string>{308,67}</string>
            </dict>
            <key>HighScoresButtonSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,0},{308,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,67}}</string>
                <key>sourceSize</key>
                <string>{308,67}</string>
            </dict>
            <key>InstructionsButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,0},{308,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,67}}</string>
                <key>sourceSize</key>
                <string>{308,67}</string>
            </dict>
            <key>InstructionsButtonSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,0},{308,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,67}}</string>
                <key>sourceSize</key>
                <string>{308,67}</string>
            </dict>
            <key>QuickPlayButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,77},{308,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,67}}</string>
                <key>sourceSize</key>
                <string>{308,67}</string>
            </dict>
            <key>QuickPlayButtonSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,77},{308,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,67}}</string>
                <key>sourceSize</key>
                <string>{308,67}</string>
            </dict>
            <key>achievementsButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,77},{84,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,82}}</string>
                <key>sourceSize</key>
                <string>{84,82}</string>
            </dict>
            <key>buyFullVersion.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,77},{347,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{347,155}}</string>
                <key>sourceSize</key>
                <string>{347,155}</string>
            </dict>
            <key>creditsButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1087,77},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>leaderboardsButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1157,77},{84,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,82}}</string>
                <key>sourceSize</key>
                <string>{84,82}</string>
            </dict>
            <key>mainMenuBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,242},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,768}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>pauseMusicButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,242},{96,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,97}}</string>
                <key>sourceSize</key>
                <string>{96,97}</string>
            </dict>
            <key>pauseSoundButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,242},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>pauseSoundOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{1247,242},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MainMenu.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a49f58af98d61049c7ebb25f8b4ded5a$</string>
            <key>textureFileName</key>
            <string>MainMenu.png</string>
        </dict>
    </dict>
</plist>
