<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pauseBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,768}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>pauseMusicButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,0},{96,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,97}}</string>
                <key>sourceSize</key>
                <string>{96,97}</string>
            </dict>
            <key>pauseQuitButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,0},{394,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,86}}</string>
                <key>sourceSize</key>
                <string>{394,86}</string>
            </dict>
            <key>pauseResetButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,0},{394,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,86}}</string>
                <key>sourceSize</key>
                <string>{394,86}</string>
            </dict>
            <key>pauseRestartPackButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,778},{394,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,86}}</string>
                <key>sourceSize</key>
                <string>{394,86}</string>
            </dict>
            <key>pauseSoundButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,778},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>pauseSoundOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,778},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>pawsitive.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,778},{528,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{528,49}}</string>
                <key>sourceSize</key>
                <string>{528,49}</string>
            </dict>
            <key>pawsitiveNo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,778},{70,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,37}}</string>
                <key>sourceSize</key>
                <string>{70,37}</string>
            </dict>
            <key>pawsitiveYes.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,778},{98,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,37}}</string>
                <key>sourceSize</key>
                <string>{98,37}</string>
            </dict>
            <key>resumeButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,778},{394,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,86}}</string>
                <key>sourceSize</key>
                <string>{394,86}</string>
            </dict>
            <key>resumeIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1724,778},{65,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,72}}</string>
                <key>sourceSize</key>
                <string>{65,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pauseMenu.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e55d8448682ea3fb4c115ffb270ca1e$</string>
            <key>textureFileName</key>
            <string>pauseMenu.png</string>
        </dict>
    </dict>
</plist>
