<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TapToContinue1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{828,88}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,337},{828,88}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>TapToContinue2.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,0},{828,88}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,337},{828,88}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>TapToContinue3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,98},{828,88}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,337},{828,88}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>gameOverBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,98},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,768}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>nineLivesQuit.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,876},{308,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,67}}</string>
                <key>sourceSize</key>
                <string>{308,67}</string>
            </dict>
            <key>nineLivesRetry.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,876},{308,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,67}}</string>
                <key>sourceSize</key>
                <string>{308,67}</string>
            </dict>
            <key>zenModeBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,876},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,768}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>zenModeGoodJob.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1654},{428,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,74}}</string>
                <key>sourceSize</key>
                <string>{428,74}</string>
            </dict>
            <key>zenModePaw.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,1654},{91,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,114}}</string>
                <key>sourceSize</key>
                <string>{91,114}</string>
            </dict>
            <key>zenModePerfect.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,1654},{336,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,74}}</string>
                <key>sourceSize</key>
                <string>{336,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>QuickPlayPostScreens.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:740d233b9cdd006c0b594f6f38274dc9$</string>
            <key>textureFileName</key>
            <string>QuickPlayPostScreens.png</string>
        </dict>
    </dict>
</plist>
